.modal-overlay {
  z-index: 9999;
  width: 80vw;
  height: 145vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 50%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
}

.icons {
  width: 50px;
  height: 50px;
}